

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    background: rgb(2, 19, 30);
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    visibility: hidden;
    padding: 30px;
    
    
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    
  }
figure {
    position: relative;
    display: flex;
    align-items: flex-start;
    
    width: 100%;
    height: 90%;
    padding: 20px 20px;
    
    background-image: url("https://images.pexels.com/photos/3263669/pexels-photo-3263669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    /* box-shadow: 0 14px 28px #24AE8F, 0 10px 10px #24AE8F; */
    box-shadow: #24AE8F 0px 54px 55px, #24AE8F 0px -12px 30px, #24AE8F 0px 4px 6px, #24AE8F 0px 12px 13px, #24AE8F 0px -3px 5px;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  figure:before, figure:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  figure:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
  }
  figure:after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  figure:hover {
    background-size: 175%;
  }
  figure:hover:after {
    
    background-color: transparent;
    color: white;
    font-size: 24px;
    z-index: 2;
  }

  figure:hover .img__description {
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
  }


  figure:hover .date {
    bottom: -59px;
  }
  figure:hover figcaption {
    transform: translateY(-110%);
  }
  figure .date {
    position: absolute;
    bottom: 0;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(241, 196, 15, 0.8);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  figure .date span {
    color: white;
    line-height: 1;
  }
  figure .date span:first-child {
    font-family: "Source Code Pro", sans-serif;
    font-size: 20px;
    font-weight: 900;
  }
  figure .date span:last-child {
    font-size: 14px;
    font-weight: 400;
  }
  figure figcaption {
    color: white;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    
    z-index: 1;
  }
  figure figcaption h4 {
    margin: 0 0 10px;
    font-family: "Source Code Pro", sans-serif;
    font-size: 24px;
    line-height: 1.35;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    
    
    
  }
  figure figcaption h4 > span {
    font-size: 28px;
    font-weight: bold;
    font-family: Cambria, Georgia, serif;
    
  }
  figure figcaption p {
    margin: 0;
    line-height: 1.5;
  }