.user{
    
    background-color: #021D2D;
    font-size: 14px;
    padding: 25px 40px;
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;

}
