*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #000033;
	font-family: sans-serif;
	display: flex;
}

.menu{
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	opacity: 0.7;
	background-color: #24AE8F;
	z-index: 1;
	list-style-type: none;
	text-align: center;
}

.menu:hover{
	opacity: 0.9;
	transition: all 1s;
}

.menu ul{

	overflow: hidden;
}

.menu li{
	display: inline-block;
	float: none;
	text-align: center;
	margin-top: 25px;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 22px;
	font-family: alex-brush;

}

.menu a:hover{
	background-color: #1e947b;
	transition: background-color 0.7s;

}

.datetime{
	 position: relative;
	  left: 1580px;
	  top:820px;
	  color: #fff;
	  background: #10101E;
	  font-family: "Segoe UI", sans-serif;
	  width: 340px;
	  padding: 15px 10px;
	  border: 3px solid #24AE8F;
	  border-radius: 5px;
	  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
	  transition: 0.5s;
	  transition-property: background, box-shadow;
}

.datetime:hover{
  background: #24AE8F;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #24AE8F;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}

